


.siteTitleInv{
    margin: 0;
    font-size: 2em;
    margin-left: 55px;
    display: inline-block;
    padding-top: 60px;
    font-weight: bold;
    color: #fff;
}

.menuButtonInv{
    color: #ffffff;
}

.eventTop{
    height: 100vh;
    width: 100%;
    //background:rgb(255, 148, 60);
    background:rgb(191, 38, 238);
    background-blend-mode:multiply;
    background-image:url(../images/events_splash.png) !important;
    background-position:center !important;
    background-size: cover;
    overflow:hidden;
    color: #fff;
    position:relative;
    animation-fill-mode: forwards;
     animation: colorChange 30s infinite; 
    -webkit-animation: colorChange 30s infinite; 
 
  }

  @keyframes colorChange
  {
    0%   {background:$pink;}
    25%  {background:$blue;}
    50%  {background: rgb(0, 128, 255);}
    75%  {background: rgb(138, 22, 47);}
    100% {background: $purple;}
  }

  @-webkit-keyframes colorChange 
  {
    0%   {background: $pink;}
    25%  {background: $blue;}
    50%  {background: rgb(0, 128, 255);}
    75%  {background: rgb(138, 22, 47);;}
    100% {background:$purple;}
  }

#eventHover{
    //position: absolute;
   

}

.eventPaint{
    top:100px;
    mix-blend-mode:lighten;
}

.eventTitle{
    font-family: $mainFont;
    font-weight: bold;
    font-size: 3em;
    width: 280px;
    margin-left: 55px;
    margin-top: 60vh;
}



.eventList{
    width: 100%;
}

.eventPreview{
    width: 100%;
    background-color: #4a4a4a;
    display: flex;
    margin-top: 3px;
}

.eventPImgCon{
    width: 120px;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 3%;
}

.eventPImg{
    width: 100%;
}

.eventPInfo{
    font-family: $mainFont;
    margin-top: 1%;
    width: 50%;
}

.eventPName{
    color: #fff;
    font-size: 2em;
    letter-spacing: .10em;
}

.eventPLoc{
    color: #fff;
    font-weight: initial;
    margin-bottom: 40px;
}

.eventPDate{
    color: #fff;
}

.eventPButton{
    text-decoration: none;
    color: #4a4a4a;
    background-color: #ebebeb;
    height: 2.4em;
    padding: 6px 2%;
    border-radius: 25px;
    padding-top: 12px;
    font-weight: bold;
    margin-top: 55px;
    margin-left: 18vw;
    width: 188px;
    text-align: center;
}

.event{
    min-height: 100vh;
}

.event1{
    background-color: #f5a9a9;
}

.event2{
    background-color: #a9f4f5;
}

.event3{
    background-color: #b4f5a9;
}

.eventCon{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.eventName{
    font-size: 2.8em;
    font-weight: bold;
    width: 340px;
    margin-top: 40px;
}

.eventName1{
    color: #fff;
}

.eventName2{
    color: black;
}


.galleryImg
{
    width: 100%;
    height: auto;
}

.eventImgs{
    width: 100%;
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
    overflow: hidden;
}

.galleryImgHeight
{
    height: 100%;
    width: auto;
}

.eventImg1{
    width: 560px;
    height: 280px;
    min-width: 280px;
    background-color: black;
    margin-bottom: 50px;
    overflow: hidden;
    
}

.eventImg2{
    width: 280px;
    height: 280px;
    min-width: 280px;
    background-color: black;
    overflow: hidden;
    margin-left: 1%;
}

.eventText{
    
display: flex;
color: #fff;
font-size: .8em;
line-height: 1.4em;
margin: 5%;
}

.eventText span {
    text-decoration: underline;
}

.eventText1{
    color: #fff;
}

.eventText2{
    color: black;
}

.eventBody1{
    width: 35%;
    margin-right: 10%;
}

.eventBody2{
    width: 40%;
}




.footerEvent{
    background-color: #313131;
    margin-top: 0 !important;
    height: 100px;
    padding-bottom: 140px;
}




@include desktop{

    .siteTitleInv{
        font-size: 1.6em;
        margin-left: 45px;
        padding-top: 50px;
    }

    .menuButtonInv{
        top: 60px;
        right: 50px;
    }

    .eventTitle{
        font-size: 2.2em;
        width: 260px;
        margin-left: 45px;
    }

    .eventPreview{
        flex-wrap: wrap;
    }

    .eventPImgCon{
        width: 95px;
        margin-left: 2%;
        margin-top: 8%;
        margin-bottom: 1px;
        margin-right: 3%;
    }

    .eventPName{
        font-size: 1.4em;
        letter-spacing: .08em;
        width: 95%;
    }

    .eventPLoc{
        margin-bottom: 25px;
        width: 95%;
    }

    .eventPDate{
        width: 95%;
    }

    .eventPButton{
        height: 2.4em;
        padding: 6px 2%;
        border-radius: 25px;
        padding-top: 12px;
        margin-top: 12px;
        margin-left: 30vw;
        width: 155px;
        margin-bottom: 15px
    }

    .eventCon{
        margin-left: 0%;
        width: 100%;
    }

    .eventName{
        font-size: 2.4em;
        width: 185px;
        margin-top: 30px;
        margin-left: 25%;
    }

    .eventImgs{
        justify-content: space-around;
    }

    .eventImg1{
        width: 300px;
        height: 150px;
        min-width: 300px;
        // margin-left: 5%;
    }

    .eventImg2{
        width: 150px;
        height: 150px;
        min-width: 150px;
        margin-left: 2%;
        background-color: black;
    }
    
    .eventText{
        font-size: 1em;
        line-height: 1.2em;
        flex-wrap: wrap;
        width: 90%;
        margin-left: 5%;
        justify-content: space-around;
    }

    .eventBody1{
        width: 155px;
        margin-top: 30px;
    }
    
    .eventBody2{
        width: 165px;
        margin-top: 30px;
    }

}