.lightbox {
	width: 0%;
	height: 100%;
    // background-color: rgba(0,0,0,0.8);
    background: radial-gradient(ellipse at center, rgba(147,147,147,0.76) 0%,rgba(130,140,149,0.78) 36%,rgba(40,52,59,0.81) 100%);
	position: fixed;
	top: 0%;
	display: none;
	right: 7.5%;
	transition: all .5s ease-in-out .1s;
	-o-transition: opacity .06s ease-in;
}

.showLightbox {
	display: block;
    width: 85%;
    height: 100%;
	right: 7.5%;
	animation: lbOpen .4s ease-in-out 1 forwards;
}

.scrollStop {
	overflow: hidden;
}

.closeLightbox {
	position: absolute;
	color: #fff;
    font-size: 1.5em;
    font-weight: bold;
	cursor: pointer;
	right: 24px;
	top: 12px;
}

.closeLightbox:hover {
	color: #999;
}

.imgCon {
	width: 100%;
	height: 94%;
	margin-top: 2%;
    overflow: hidden;
    display: flex;
}

.imgCon img{
	height: 100%;
	vertical-align: middle;
	margin: 0 auto;
}

@keyframes lbOpen {
	0% {
		width: 0%;
        right: 50%;
        height: 0%;
        top: 35%;
	}

	100% {
		width: 100%;
        right: 0%;
        height: 100%;
        top: 0%;
	}
}